<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Login</h3>
        <form id="login">
            <div class="card-text">
                <label for="loginUsername">Username</label>
                <input type="text" id="loginUsername" placeholder="Username">
            </div>
            <div class="card-text">
                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" placeholder="Password">
            </div>
            <button>Login!</button><br>
            <a href="/signup">Need to sign up?</a>
        </form>
    </div>
</section>
<script src="/js/login.js"></script>
