<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="signup">
            <div class="card-text">
                <label for="signupUsername">Username</label>
                <input type="text" id="signupUsername" placeholder="Username">
            </div>
            <div class="card-text">
                <label for="signupPassword">Password</label>
                <input type="password" id="signupPassword" placeholder="Password">
            </div>
            <button>signup!</button><br>
            <a href="/login">Login Instead</a>
        </form>
    </div>
</section>
<script src="/js/signup.js"></script>
```